@charset "UTF-8";

/* PC、タブレット：768px以下
スマホ：450px以下 */

/* 共通
-------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.6;
    color: #fff;
    min-height: 100vh;
    background-color: #545454;
}
a {
    color: #fff;
    text-decoration: none;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 768px;
    margin: 0 auto;
    background-color: #545454;
}
/* header */
header {
    text-align: center;
}
.header-nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-nav li {
    line-height: 85%;
}
.account-icon {
    width: 30px;
}
.app-logo {
    width: 180px;
}
.copyright {
    color: #fff;
    font-size: 0.75rem;
}
hr {
    background-color: #737373;
    height: 1px;
    border: none;
}
/* main */
main {
    background-color: #545454;
    padding: 5px 10px;
}
.button {
    font-size: 1.25rem;
    background: #39b6ff;
    color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
}
.button:hover {
    background: #f6701d;
}
/* footer */
footer {
    text-align: center;
}
.footer-nav {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 768px;
    background-color: #737373;
    padding: 10px 0px 5px 0;
}
.footer-pen {
    position: absolute;
    top: -30px;
    left: 67px;
    max-width: 9%;
}
.footer-pen:hover {
    max-width: 9.5%;
}
.footer-pen:active {
    max-width: 10.5%;
}
.footer-nav ul {
    display: flex;
    justify-content: space-between;
}
.footer-nav ul li a img {
    max-width: 22%;
}
.pagination {
    font-size: 10pt;
}
.pagination li {
    display: inline-block;
}
.bottom-blank {
    margin-bottom: 120px;
}
/* 各ページ
-------------------------- */
/* hello */
.hello-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-top: 20px;
}
.hello-about p {
    font-size: 1.125rem;
    margin: 0 15px;
    max-width: 300px;
}
.hello-img {
    text-align: center;
    max-width: 300px;
}
.hello-img img {
    max-width: 50%;
}
.hello-button {
    text-align: center;
    margin-top: 50px;
}
/* home */
.tags-tab ul {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 10px;
}
.tags-tab ul li {
    width: 16%;
    text-align: center;
    border-radius: 3px;
    padding: 3px 0;
}
.tags-tab ul li a {
    display: block;
}
.tags-tab ul li a:active {
    background-color: #737373;
    border-radius: 3px;
}
.mastered-tags-tab ul {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 10px;
}
.mastered-tags-tab ul li {
    width: 20%;
    text-align: center;
    background: -moz-linear-gradient(65deg, #5170ff, #ff66c4);
    background: -webkit-linear-gradient(65deg, #5170ff, #ff66c4);
    background: linear-gradient(25deg right, #5170ff, #ff66c4);
    border-radius: 3px;
    padding: 3px 0;
}
.mastered-tags-tab ul li a {
    display: block;
}
.mastered-tags-tab ul li a:active {
    background-color: #737373;
    border-radius: 3px;
}
.note-list {
    display: flex;
    justify-content: space-between;
    color: #545454;
    background-color: #f3fbff;
    border-radius: 3px;
    margin-bottom: 7px;
}
.note-list-image img {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3px;
    margin: 5px 10px -3px 5px;
}
.note-list-headline {
    display: flex;
    padding-top: 5px;
}
.note-list-title {
    font-weight: bold;
    padding: 5px 0 0 0;
}
/* note */
.preview-back {
    margin-top: 10px;
}
.file__label02 {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    /* width: min(100%, 680px); */
    padding-top: 390px;
    margin-inline: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-image: url('../images/note-no-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.file input[type=file] {
    display: none;
}
.note-tag-icon {
    width: 1rem;
    height: 1rem;
}
.note-tag-select {
    color: #545454;
    font-weight: bold;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 0 5px;
}
.note-title {
    width: 21em;
    max-width: 90%;
    color: #545454;
    /* font-weight: bold; */
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 5px;
    margin-top: 5px;
}
.broken-note-button {
    color: #fff;
    background-color: #737373;
    border-radius: 3px;
    padding: 7px 15px;
    margin-left: 5px;
}
.note-story textarea {
    width: 100%;
    color: #545454;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 5px;
    margin-top: 5px;
}
.note-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note-submit-button {
    color: #fff;
    background-color: #f6701d;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 5px 5px 0 5px;
}
.note-submit-button:active {
    color: #545454;
    background-color: #fff;
}
.note-break-button {
    color: #fff;
    background-color: #737373;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 5px 10px 0 5px;
}
.note-break-button:active {
    color: #545454;
    background-color: #fff;
}
.to-home-button {
    color: #fff;
    background-color: #737373;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 5px;
}
/* search */
.search-tab {
    display: flex;
    margin: 5px;
}
.search-tab a {
    color: #fff;
    background-color: #737373;
    border-radius: 3px;
    padding: 5px 5px;
    margin-left: 15px;
}
.search-input {
    color: #545454;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 3px;
}
.search-key {
    color: #545454;
    background-color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 5px;
}
.search-button {
    color: #fff;
    background-color: #39b6ff;
    border-radius: 3px;
    padding: 2px 15px;
}
.search-button:active {
    color: #545454;
    background-color: #fff;
}
/* stack */
.first-note-button {
    color: #fff;
    background-color: #39b6ff;
    border-radius: 3px;
    padding: 3px 15px;
}
.tag-form {
    margin: 10px 0 0 5px;
}
.create-tag {
    width: 11em;
    color: #545454;
    /* font-weight: bold; */
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 5px 0;
}
.create-tag-abbreviation {
    width: 7em;
    /* max-width: 100%; */
    color: #545454;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 5px 0;
}
.create-tag-button {
    color: #fff;
    background-color: #f6701d;
    border-radius: 3px;
    padding: 3px 15px;
    /* margin-left: 5px; */
}
.create-tag-button:active {
    color: #545454;
    background-color: #fff;
}
.stack-table {
    width: 100%;
    border-spacing: 5px;
    margin: 10px 0 30px 0;
}
.stack-table th {
    font-size: 0.85rem;
    text-align: left;
    padding-left: 5px;
    font-weight: lighter;
}
.stack-days-th {
    width: 58%;
}
.stack-create-th {
    width: 100px;
}
.stack-table td {
    background-color: #737373;
    padding: 5px 5px;
    text-align: left;
    border-radius: 3px;
}
.stack-table td p {
    display: inline-block;
    text-align: right;
    line-height: 30px;
    background: #f6701d;
    padding-right: 5px;
    border-radius: 3px;
}
.stack-table td a {
    display: block;
    text-align: right;
    line-height: 30px;
    /* background: #f6701d; */
    padding-right: 5px;
    border-radius: 3px;
}
/* .stack-table td input {
    display: inline-block;
    text-align: right;
    line-height: 30px;
    background: #39b6ff;
    padding-right: 5px;
    border-radius: 3px;
} */
.stack-to-book a {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background: #39b6ff;
    padding-right: 5px;
    border-radius: 3px;
}
.stack-to-book input {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background: #39b6ff;
    padding-right: 5px;
    border: 1px solid #f6701d;
    border-radius: 3px;
}
.stack-to-book input:active {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #545454;
    background: #fff;
    padding-right: 5px;
    border: 1px solid #39b6ff;
    border-radius: 3px;
}
.stack-table td input {
    display: inline-block;
    color: #fff;
    text-align: right;
}
.stack-table td img {
    display: inline-block;
    width: 6%;
    vertical-align: middle;
}
.stack-table td div {
    color: #fff;
    background: -moz-linear-gradient(65deg, #5170ff, #ff66c4);
    background: -webkit-linear-gradient(65deg, #5170ff, #ff66c4);
    background: linear-gradient(25deg right, #5170ff, #ff66c4);
    text-align: center;
    border-radius: 3px;
    padding: 3px 5px;
}
.stack-tag-delete {
    margin-top: 50px;
}
.stack-tag-delete p {
    color: #f6701d;
}
.delete-tag-select select {
    color: #f6701d;
    background-color: #737373;
    border-radius: 3px;
    padding: 5px 10px 5px 5px;
    margin: 5px 0 0 5px;
}
.delete-tag-select input {
    color: #f6701d;
    background-color: #737373;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 5px 5px 0 5px;
}
.delete-confirm{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 150px;
}
.delete-message {
    color: #f6701d;
    line-height: 1.25;
    margin: 5px 0 20px 0;
}
.delete-tagname {
    margin: 20px 0 10px 0;
}
.delete-note-list {
    margin: 10px 0 10px 0;
}
.delete-note-list ul {
    margin-bottom: 5px;
}
.move-note {
    margin-top: 10px;
}
.move-note select {
    color: #545454;
    background: #fff;
    border-radius: 3px;
    padding: 3px 10px 3px 5px;
}
.move-note input {
    color: #fff;
    background: #39b6ff;
    border-radius: 3px;
    padding: 3px 10px;
    margin-left: 5px;
}
.move-note button:active {
    color: #f6701d;
    background: #737373;
    border-radius: 3px;
    padding: 3px 10px;
    margin-left: 5px;
}
.confirm-buttons {
    display: flex;
    justify-content: left;
    margin: 30px 0 0 0;
}
.delete-submit-button {
    color: #f6701d;
    background-color: #737373;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 5px;
}
.cancel-button {
    color: #545454;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 15px;
    margin-left: 10px;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
.promoted-to-book {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 150px;
}
.promoted-message {
    color: #c1ff72;
    line-height: 1.25;
    margin-bottom: 10px;
}
.promoted-tagname {
    margin: 15px 0 10px 0;
}
.promoted-note-list {
    margin: 10px 0 10px 0;
}
.promoted-note-list ul {
    margin-bottom: 5px;
}
.book-radio {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}
.book-radio p {
    background: #737373;
    border: 1px solid #39b6ff;
    border-radius: 3px;
    padding: 3px 10px;
    margin-right: 10px;
}
#content1, #content2 {
    display: none;
}
.promoted-book-select {
    color: #545454;
    font-weight: bold;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 10px 5px 5px;
    margin: 5px 5px 0 0;
}
.create-book {
    width: 11em;
    color: #545454;
    /* font-weight: bold; */
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 5px 0;
}
.create-book-button {
    color: #fff;
    background-color: #f6701d;
    border-radius: 3px;
    padding: 3px 15px;
    /* margin-left: 5px; */
}
.create-book-button:active {
    color: #545454;
    background-color: #fff;
}
.promoted-confirm-buttons {
    display: flex;
    justify-content: left;
    margin: 30px 0;
}
.promoted-submit-button {
    color: #fff;
    background-color: #39b6ff;
    border: 2px solid #f6701d;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 5px;
}
.promoted-cancel-button {
    color: #fff;
    background-color: #737373;
    border-radius: 3px;
    padding: 8px 15px;
    margin-left: 10px;
}

/* モバイル表示
-------------------------- */
@media (max-width: 450px) {
    .file__label02 {
        width: 100%;
        aspect-ratio: 16/9;
        padding-top: 56.25%;
    }
}